.header{
    z-index: 1;
    position: absolute;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    display: flex;
    padding-top: 3.7rem;
}
.header_logo{
    margin-bottom: auto;
    margin-top: auto;
}
.logo{
    cursor: pointer;
    width: 80%;
}
.header_right {
    display: flex;
    margin-bottom: auto;
    margin-top: auto;
    text-align: center;
    align-items: center;
}
.header_lng{
    cursor: pointer;
}
.header_lng i{
    margin-left:5px;
}
.header_lng:hover > i {
    color: #ffc600;
}
.header_serach{
    border-radius: 1rem;
    border: 1px solid #ffffff;
    padding-right:30px;
    padding-left:30px;
    padding-top:7px;
    padding-bottom:7px;
    margin-left:2rem;
    cursor: pointer;

}
.header_serach:hover{
    border: 1px solid #ffc600;
    color: #ffc600;
}
.navigation{
    flex-direction:row;
    margin-top: auto;
    margin-bottom: auto;
}
.navigation ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: row;
    list-style: none;
}
.navigation ul li{
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}
.navigation ul li:hover{
    color: #ffc600;
}
/*.logo{*/
    /*background: url(/images/logo.svg) 50% no-repeat*/
/*}*/
