*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-family: Open Sans;
}
i {
    color: #ffffff;
}
.main__social i:hover {
    color: #ffc600;
    cursor: pointer;
}
.main{

    font-family: Open Sans;
}
.container{
    margin-left: 8.333333%;
    position: relative;
}
.main__item_text{
    color: #ffffff;
    position: relative;
    line-height: 1;
}
.main__item_text_header{
    margin-left:-3px;
    font-size: 67px;
    /*font-weight: 700;*/
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Adelle Cyrillic;
    font-style: normal;
    font-weight: bold;
}
/*.main__item_text_header{*/
    /*margin-left:-3px;*/
    /*font-size: 67px;*/
/*}*/
.main__item_text_desc{
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 15px;
    padding-bottom: 15px;
}
.main{
    position: relative;
}
.main__items{
    position: fixed;
    width: 100%;
}

.main__item{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
}

.main__item__bg{
    position: absolute;

    background-size: cover;
    width: 100%;
    height: 100%;
    content: " ";
    z-index: -4;
}

.main__item__bg:after{
    position: absolute;
    background: linear-gradient(
            to top,
            rgba(8,18,38,0),rgba(8,18,38,0.6)
    );
    content: " ";
    z-index: -3;
    height: 100%;
    width: 100%;
}
.main__item__bg-top:after{
    /*position: absolute;*/
    /*content: " ";*/
    /*z-index: -3;*/
    /*height: 100%;*/
    /*width: 100%;*/
    background: linear-gradient(
            to bottom,
            rgba(8,18,38,0),rgba(8,18,38,0.6)
    );
}
.main__social{
    font-size: 3px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0!important;
}
.main__item-first{
    margin: 200px auto auto;
}
.main__item-top{
    margin: 50px auto auto;
}
.main__item-bot{
    margin: auto auto 60px;
}
.fab{
    margin: auto auto auto 0;
}
.main__news{
    padding-top: 450px;
}
.main__news__header{
    font-weight: 700;
    font-size: 36px;
}
.main__news__items{
    align-items: flex-start;
    align-content: flex-start;
}
.main__news__item{
    /*min-height: 580px;*/
    display: flex;
    flex-direction: column;
    color: #ffffff;
    /*padding: 30px;*/
    position: relative;
}
.main__news__item__bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-position: 50% center;
}
.main__news__item__bg__mask {

    background: linear-gradient(
            to top,
            rgba(8,18,38,0),rgba(8,18,38,0.6)
    );
    position: absolute;
    content: " ";
    z-index: 3;
    height: 40%;
    width: 100%;
}
.main__news__item__info{
    z-index: 5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main__news__item__info-full{

    display: flex;
    flex:1;
    justify-content: space-between;
}

.main__news__item__date{
    font-size: 17px;
    text-transform: uppercase;
}
.main__news__item__title{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-top: 15px;
}

.main__news__item-full{
    min-height: 500px;
    background: linear-gradient(90deg,#385cad,#00b2e3);
    padding: 60px;
}
.main__news__item__title-full{
    font-size: 36px;
    margin: auto;
}
.main__news__item__date-full{
    font-size: 31px;
    margin: auto;
}
.main__news__item__tag-full{
    margin: auto;
}
.main__news__item__tag{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
}
.main__news__item__tag-yellow{
    padding: 7px;
    background: #ffc600;
    color: #262a30;
}
.main__news__item__tag-blue{
    padding: 7px;
    background: #385cad;
    color: #ffffff;
}
.main__news__item__tag-purple{
    padding: 7px;
    background: #CAD1ea;
    color: #385cad;
}
.main__news__show_all{
    padding-top: 60px;
    padding-bottom: 200px;
}
.main__news__show_all__btn {
    text-align: center;
    color: #ffffff;
    border-radius: 2rem;
    border: 1px solid #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
.main__carousel .carousel-item{
    height: 100%;
}
.main__carousel__bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.main__carousel__bg__mask {

    background: linear-gradient(
            to top,
            rgba(8,18,38,0),rgba(8,18,38,0.6)
    );
    position: absolute;
    content: " ";
    z-index: 3;
    height: 50vh;
    width: 100%;
}
.main__carousel .main__carousel__info{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.main__carousel .carousel-inner{
    height: 100vh;
}
.main__carousel .carousel-inner img{
    height: 100vh;
    width: auto!important;
}

.carousel__text {
    flex-direction: column;
    color:#ffffff;
    margin-top:3.5rem
}
.carousel__text__header{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.carousel__text__title{
    text-transform: uppercase;
    font-size: 58px;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 3rem;
    margin-top: 10px;
}
.carousel__text__desc{
    line-height: 1;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 3px;
}
.carousel__text__action{
    margin-top: 100px;
    font-weight: 700;
    font-size: 22px;
    /*text-decoration: underline #ffffff;*/
    color:#ffffff;
    position: absolute;
    bottom: 3.5rem;
}
.carousel__text__action:hover{
    text-decoration: none;
    color:#ffc600;
}
.carousel__text__action:hover > i{
    text-decoration: none;
    color:#ffc600;
}
.footer{
    position: relative;
    background-color: #262a30;
    font-size: 16px;
    color: #ffffff;
    line-height: 1;
}

.search__modal{
    /*display: none;*/
    min-height: 100vh;
    height: 100%;
    position: fixed;
    background: #385cad;
    top: -200%;
    bottom: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: top 0.4s, opacity 0.4s;
}
.search__modal.show {
    top: 0;
    opacity: 1;
    /*height: 5000px;*/
    overflow-y: scroll;
}

.search__modal__header {
    display: flex;
    width: 100%;
    margin-top: 3.5rem;
    color: #ffffff;
}
.search__modal__header__title{
    font-size: 54px;
    font-family: "Adelle Cyrillic";
    font-weight: 700;
}
.search__modal__header__close{
    display: flex;
}
.search__modal__header__close i{
    font-size:1.3rem;
    color: #3d7cc9;
}
.search__modal__header__close i:hover{
    color: #ffffff;
}
.search__modal__header__close i:before{
    cursor: pointer;
}
.search__modal__input{
    margin: 15px;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #ffffff;
    background: none;
    padding-top: 3rem;
}
.search__modal__input::placeholder{
    font-size: 36px;
    color: #3d7cc9;
}
.search__modal__result__header {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search__modal__result__item {
    flex-direction: column;
}
.result__item__image img{
    /*position: absolute;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    /*z-index: 2;*/
    /*background-position: 50% center;*/
    /*content: " ";*/
}
.search__modal__results{
    color: #ffffff;
    margin-bottom: 60px;
}
.result__item__date{
    font-size: 11px;
    margin-top: 10px;
}
.result__item__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 10px;
}
.result__item__text{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.3;
}
.result__item__tag{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
}
.result__item__tag-yellow{
    padding: 7px;
    background: #ffc600;
    color: #262a30;
}
.result__item__tag-blue{
    padding: 7px;
    background: #385cad;
    color: #ffffff;
}
.result__item__tag-purple{
    padding: 7px;
    background: #CAD1ea;
    color: #385cad;
}
